@charset "UTF-8";

/*HEADER FONT APPLICAITON*/
@font-face {
    font-family: 'HSBomBaram 2.0';
    src: url('https://tistory4.daumcdn.net/tistory/4093955/skin/images/HSBomBaram20.eot');
    src: url('./images/HSBomBaram20.eot?#iefix') format('embedded-opentype'),
        url('https://tistory3.daumcdn.net/tistory/4093955/skin/images/HSBomBaram20.woff2') format('woff2'),
        url('https://tistory1.daumcdn.net/tistory/4093955/skin/images/HSBomBaram20.woff') format('woff'),
        url('https://tistory2.daumcdn.net/tistory/4093955/skin/images/HSBomBaram20.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    

    /* CURSOR */
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

* a:hover {
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1287.cur), auto !important;
}


/* CONTAINERS */
#wrapper{
    width: 1687px;
    height: auto;  
    margin: 5% auto;
    
}

/* CONTENT */

#content-container {
    width: 100%;
    height: 720px;
    background-image: url("https://i.imgur.com/ZzS3rTT.png");
    
}

/* JOYCON */

#joycon-container a {
	position: fixed;
    width: 240px;
    display: scroll;
    margin-left:0px;margin-top:0px;z-index:1000;


    bottom: 0px;
	transition: 0.3s;
}
#joycon-container a:hover {
	bottom: 20%;
}


/* MAIN */

#main-container {
    width: 967px;
    height: 545px;


    margin-left: 358px;
    margin-right: 358px;
    margin-top: 24px;
    margin-bottom: 90px;
    background-image: url('https://i.imgur.com/Rptg0vs.png');
  
}


/* CLOCK */

#clock-container {
    float:right;
	width:300px;
    height:48px;
    margin-right:46px;
    margin-top:25px;
    padding-top: 10px;


}
.clock {
    color:#010101;
    text-align:right;
    font-size: x-large;
}


/* 헤더 */

.header-font {
    font-family: 'HSBomBaram 2.0';
    text-align:center; 
    color:#D4295E;  
    text-shadow: 4px 4px 0px #000000;
}

.header-font a:link, .header-font a:visited {
    
    text-decoration: none;
    
}


/* CATEGORY */

#category-container{
    float:left;
	width:500px;
    height:48px;
    margin-left:46px;
    margin-top:25px;

	background-color:#ffd800;

}

.category {
    float:left;
    width:48px;
    height:48px;
    margin-right: 9px;

}


/* ARTICLE */

#article-preview-container{
    float:left;
	width: 800px;
    height:192px;
    margin-left:90px;
    margin-right:77px;
    margin-top:75px;
    margin-bottom:37px;
    padding-top:5px;

    background-image: url("https://i.imgur.com/2wpDC6e.png");

}


nav, s_rctps_rep, ul, li, s_rctps_rep_thumbnail {
    display: inline-block;
   list-style:none;
   
}


#article-container {
    width: 967px;
    height: auto;


    margin-left: 358px;
    margin-right: 358px;
    margin-top: 70px;
}




.article-category a:link, .article-date a:link, .article-category a:visited, .article-date a:visited{
    color:#D3A297;
    text-decoration: none;
       
}



/* MENU */

#menu-container{
    float:left;
	width: 510px;
    height:71px;
    margin-left:240px;
    margin-right:217px;
    margin-bottom:43px;


}

.menu {
    float:left;
    width:69px;
    height:69px;
    margin-right: 16px;
    
}




/* FOOTER */

#footer-container {
    float: middle;
}

.copyright {
    color: #B39F8D;
    font-size: xx-small;
    text-align:center;
}

.copyright a:link, .copyright a:visited {
    color:#D3A297;
    text-decoration: none;
       
}


/* FONTS SETTING */
body{
    font-family: source-han-serif-korean, serif;
    font-weight: 300;
    font-style: normal;

    color:#2F3441;
    text-align:left;
    font-size: small;
}

.main-font-bold {
    font-weight: 700;
    font-style: normal;
}




h1 {
    color:#D4295E;
    font-size: xx-large;

}

h2 {
    color:#B39F8D !important;
}










